apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{.Domain}}-{{.Location}}-{{.App}}
  namespace: {{.ProxyNamespace}}
  labels:
#    release: kube-prometheus-stack
#    release: r20-0-1
    {{.ServiceMonitorSelector}}
    domain: {{.Domain}}
    location: {{.Location}}
    app: {{.App}}
spec:
  jobLabel: {{.Domain}}-{{.Location}}-{{.App}}
  targetLabels: 
#   - domain
#   - location  
#   - app 
    - service
  namespaceSelector:
#   any: true
    matchNames:
      - {{.ProxyNamespace}}
  selector:
    matchLabels:
      domain: {{.Domain}}
      location: {{.Location}}
      app: {{.App}}
#     service: {{.Service}}
  endpoints:
  - port: {{.PortName}}
    interval: {{.Interval}}
    honorLabels: true
    honorTimestamps: true
    path: /metrics/{{.Domain}}/{{.Location}}/{{.App}}
#   metricRelabelings:
